.container{
  background-color: #dae5f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  
}
.login-button{
  
  padding: 5px 10px;
  color: #ffffff;
  background-color: #57b9f2;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 12px;


}
.link{
  
  text-decoration: none;
  color: inherit;
  
}
